<table width=538 style="width:538px">
<tr><td><%= email_image_tag 'Cabezal.jpg' %></td></tr>
<tr><td>
<br>
Estimada familia:<br>
<br>
<%= "Hay novedades de #{'"'}#{@titulo}#{'"'}' en la web " %><a href="http://familias.varela.edu.uy">http://familias.varela.edu.uy</a><br>
<br>
Saludos cordiales<br>
<br>
</td></tr>
<tr><td><%= email_image_tag 'Pie.jpg' %></td></tr>