<table width="100%">
<tr>
<%= image_tag "Cabezal.jpg", width:"100%" %>
</tr>
<tr>
Estimada familia,<br>
<br>
Hay novedades en la web.
</tr>
<tr>
<%= image_tag "Pie.jpg", width:"100%" %>	
</tr>
</table>