<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<% fecha_factura = DateTime.new(2019,03,01) %>
<% saldos = Hash.new %>
<% Movimiento.where(["fecha < ?",fecha_factura]).group(:cuenta_id).order(:cuenta_id).select("cuenta_id, sum(debe-haber)").each do |saldo| %>
  <% saldos[saldo.cuenta_id] = saldo %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <form>
        <table class="index_table index">
          <thead>
            <tr><th>Cuenta</th><th>Saldo</th></tr>
          </thead>
          <tbody>
            <% saldos.keys.each do |saldo| %>
              <% i = 0 %>
              <% if i % 2 == 0 %>
                <tr class="odd">
              <% else %>
                <tr class="even">
              <% end %>
              <% i = i+1 %>
                <td><%= saldo %></td><td><%= saldos[saldo] %></td></tr>
            <% end %>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>