<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<% fecha_factura = DateTime.new(2019,02,01) %>
<% saldos = Hash.new %>
<% corrientes = Hash.new %>
<% Movimiento.where(["fecha < ?",fecha_factura]).group(:cuenta_id).order(:cuenta_id).select("cuenta_id, sum(debe-haber) as saldo").each do |saldo| %>
  <% saldos[saldo.cuenta_id] = saldo.saldo %>
<% end %>

<% Movimiento.where(["fecha = ? AND debe <> 0 AND haber = 0",fecha_factura]).group(:cuenta_id).order(:cuenta_id).select("cuenta_id, sum(debe) as debe").each do |corriente| %>
  <% if !saldos.has_key?(corriente.cuenta_id) %>
    <% saldos[corriente.cuenta_id] = 0 %>
  <% end %>
  <% corrientes[corriente.cuenta_id] = corriente.debe %>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <form>
        <table class="index_table index">
          <thead>
            <tr><th>Cuenta</th><th>Saldo</th><th>Corriente</th></tr>
          </thead>
          <% i = 0 %>
          <tbody>
            <% saldos.keys.sort.each do |cuenta_id| %>
              <% if i % 2 == 0 %>
                <tr class="odd">
              <% else %>
                <tr class="even">
              <% end %>
              <% i = i+1 %>
                <td><%= cuenta_id %></td><td><%= saldos[cuenta_id] %></td><td><%= corrientes[cuenta_id] %></td></tr>
            <% end %>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>